version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: ticket-redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
  postgres:
    image: 'postgres:latest'
    container_name: postgres-ticket-app
    environment:
      - 'POSTGRES_DB=ticket_app'
      - 'POSTGRES_PASSWORD=password'
      - 'POSTGRES_USER=user'
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
    driver: local
