/* Resetování základních okrajů */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0b0f1a;
}

#root {
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}