name: Backend CI

on:
  push:
  pull_request:

jobs:
  build-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build and test backend
        run: ./gradlew clean test jacocoTestReport --no-daemon

      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-coverage-report
          path: build/reports/jacoco/test/html
